@import "tailwindcss";
@import "tw-animate-css";

/* Root variables (light theme) */
:root {
  --navbar-height: 70px;
  --font-primary: "Inter", sans-serif;
  --font-heading: "Walsheim Bold", sans-serif;

  --background-color: #fafafa;
  --background-color-transparent: rgba(250, 250, 250, 0.9);
  --text-color: #121212;

  --shade-100: #efefef;
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;

  --secondary-color: #ccd0be;
  --grey-color: #c2bfbc;
  --grey-text: #595959;
}

/* Root variables (dark theme) */
:root.dark {
  --background-color: #121212;
  --background-color-transparent: #121212fa;
  --text-color: #efefef;

  --shade-100: #222222;
  --shade-300: #4383cb;
  --shade-500: #8cb0d9;

  --secondary-color: #a67a59;
  --grey-color: #303f50;
  --grey-text: #cfd8e2;
}

/* Navbar height for desktop */
@media (min-width: 768px) {
  :root {
    --navbar-height: 90px;
  }
}

/* Global base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header styles */
header {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Typography desktop first */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--shade-500);
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

/* Typography for small screens */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 15px;
  }
}

/* Buttons */
.btn,
.btn-rounded {
  border: 2px solid var(--grey-color);
  background-color: transparent;
  transition: border 500ms, background-color 500ms, color 500ms;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}

.btn-rounded {
  padding: 1rem 2rem;
  font-size: 0.9rem;
  border-radius: 2rem;
  width: fit-content;
}

.btn:hover,
.btn-rounded:hover,
.btn-rounded:focus {
  outline: none;
  color: var(--background-color);
  background-color: var(--shade-500);
  border-color: var(--shade-500);
}

/* Button responsive styles */
@media only screen and (max-width: 767px) {
  .btn-rounded {
    padding: 0.5rem 2rem;
  }
}

/* Dark mode logo */
.dark img.logo {
  filter: invert(1);
}
